* {
    margin: 0;
}

body, html {
    height: 100%;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

/*container banner*/
.container-banner{
    background-image: url(../imgs/banner/banner-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 10% 10px 10%;
}

.nav-header {
    color: white;
    display: flex;
    align-items: top;
    width: 100%;
}

.nav-img {
    width: 50%;
}

#logo-h {
    height: 200px;
    width: 200px;
}

.nav-menu-h {
    width: 50%;
    text-align: right;
}

#menu-h a{
    text-decoration: none;
    color: #FFF;
}

#menu-h {
    list-style-type: none;
    padding: 0;
    margin-right: 0px;
}

#menu-h li{
    display: inline;
    margin-right: 30px;
}

.title-infos {
    margin-top: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.70);
    padding: 40px 0;
}

#title {
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: 3px solid rgb(255, 153, 0);
}

h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 60px;
    margin: 0;
}

.infos-content {
    display: flex;
    margin-top: 30px;
}
.infos {
    width: 33.333%;
    text-align: center;
}

/*container pizza*/
.container-pizza {
  margin: 50px 10%;
}

h2 {
    border-bottom: 3px solid rgb(255, 153, 0);
    margin: 0px;
}

.pizza{
    display: flex;
    margin-top: 20px;
}

/*left*/
#pizza-img {
    width: 100%;
}
.pizza-photo {
    width: 60%;
}

/*right*/
.pizza-description-price {
    padding: 10px;
    border-left: 1px solid rgb(175, 175, 175);
    width: 40%;
}

.pizza-description {
    height: 20%;
}

.pizza-description p {
    margin: 0px;
}

.price-list {
    height: 80%;
}


.list-title {
    background-color: orange;
    padding: 5px;
}

.list-title h3 {
    text-align: center;
    margin: 0px;
}

.fieldset-prices {
    display: flex;
    margin: 0px;
}

.form-group-prices {
    width: 33.33%;
    text-align: center;
    padding: 5px;   
}

.prices-drinks {
    margin-top: 50px;
}

.img-drinks {
    width: 60px;
}

.button-price {
    text-align: center;
    margin-top: 50px;
}

#button-price {
    background-color: rgb(131, 255, 107);
    width: 50%;
    height: 50px;
    font-size: 160%;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px rgb(175, 175, 175);
}

#button-price:hover {
    background-color: rgb(81, 250, 48);
}

/*container comments*/
.container-comments {
    margin: 50px 10%;
}

.comments {
    margin-top: 20px;
    width: 50%;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(175, 175, 175);
}
.user {
    text-align: center;
    width: 80px;
}

.img-user {
    width: 50px;
}

.comment-content {
    margin-left: 20px;
}

.form-comment {
    margin-top: 30px;
}

/*container footer*/
.container-footer {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    padding: 10px 10% 10px 10%;
}
.nav-footer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-menu-f, .nav-complements-f {
    width: 50%;
}

.menu-f {
    list-style-type: none;
    padding: 0;
    width: 50%;
}

.menu-f a {
    text-decoration: none;
    color: white;
}

.menu-f li {
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 153, 0, 0.70);
}

.copyright {
    background-color: black;
    color: white;
}

.copyright-content {
    padding: 10px 10% 10px 10%;
}
.copyright p {
    margin: 0;
    text-align: center;
}